VITE_USE_MOCK_DATA=true
VITE_UI_THEME_BASE_URL=
VITE_CAPTURE_DATA_BASE_URL=https://raw.githubusercontent.com/mkaldiAc/Ariane_capture_data/main
VITE_AZURE_CLIENT_ID=
VITE_AZURE_TENANT_ID=
VITE_AZURE_REDIRECT_URI=http://localhost:5173
VITE_API_SCOPE=

# URL cible pour le bouton « Copier et ouvrir ChatGPT » (idéalement le Projet ARIANE)
VITE_CHATGPT_URL=https://chatgpt.com/
